In [1]:
import pandas as pd
import numpy as np

In [2]:
teams = ['Liverpool','Real Madrid','Dourtmund','Chelsea','Leipzig','Man_City','PSG','Bayern','AC Milan','Spurs','Frankfurt','Napoli','Brugge','Benfica','Inter','Porto']

In [3]:
team_idx = {t:i for i,t in enumerate(teams)}
idx_team = {i:t for i,t in enumerate(teams)}

In [4]:
idx_team[13]

'Benfica'

In [5]:
team_idx['Chelsea']

3

In [6]:
res16=[[0,1,2,5,0,1],
[2,3,1,0,0,2],
[4,5,1,1,0,7],
[6,7,0,1,0,2],
[8,9,1,0,0,0],
[10,11,0,2,0,3],
[12,13,0,2,1,5],
[14,15,1,0,0,0]]
res16 = pd.DataFrame(res16)
res16.columns = ['team1','team2','team1_score1','team2_score1','team1_score2','team2_score2']
res16['team1'] = res16['team1'].map(idx_team)
res16['team2'] = res16['team2'].map(idx_team)
res16['team1_tot'] = res16['team1_score1']+res16['team1_score2']
res16['team2_tot'] = res16['team2_score1']+res16['team2_score2']
res16['winner'] = pd.concat([res16[res16['team1_tot'] > res16['team2_tot']]['team1'],res16[res16['team1_tot'] < res16['team2_tot']]['team2']]).sort_index()

In [7]:
res16

,team1,team2,team1_score1,team2_score1,team1_score2,team2_score2,team1_tot,team2_tot,winner
0,Liverpool,Real Madrid,2,5,0,1,2,6,Real Madrid
1,Dourtmund,Chelsea,1,0,0,2,1,2,Chelsea
2,Leipzig,Man_City,1,1,0,7,1,8,Man_City
3,PSG,Bayern,0,1,0,2,0,3,Bayern
4,AC Milan,Spurs,1,0,0,0,1,0,AC Milan
5,Frankfurt,Napoli,0,2,0,3,0,5,Napoli
6,Brugge,Benfica,0,2,1,5,1,7,Benfica
7,Inter,Porto,1,0,0,0,1,0,Inter

In [8]:
wins = res16['winner']
res8=[[wins[0],wins[1],2,0,2,0],
     [wins[2],wins[3],3,0,1,1],
     [wins[4],wins[5],1,0,1,1],
     [wins[6],wins[7],0,2,3,3]]
res8 = pd.DataFrame(res8)
res8.columns = ['team1','team2','team1_score1','team2_score1','team1_score2','team2_score2']
res8['team1_tot'] = res8['team1_score1']+res8['team1_score2']
res8['team2_tot'] = res8['team2_score1']+res8['team2_score2']
res8['winner'] = pd.concat([res8[res8['team1_tot'] > res8['team2_tot']]['team1'],res8[res8['team1_tot'] < res8['team2_tot']]['team2']]).sort_index()
res8

,team1,team2,team1_score1,team2_score1,team1_score2,team2_score2,team1_tot,team2_tot,winner
0,Real Madrid,Chelsea,2,0,2,0,4,0,Real Madrid
1,Man_City,Bayern,3,0,1,1,4,1,Man_City
2,AC Milan,Napoli,1,0,1,1,2,1,AC Milan
3,Benfica,Inter,0,2,3,3,3,5,Inter

In [10]:
boost16 = [[['Darwin Nunez',1,7.2,64,6.1,57],
['Diogo Jota',-1,6.0,26,5.5,57],
['Virgil Van Diek',-2,4.8,90,6.8,90],
['H. Elliot',-1,6.0,5,6.6,33],
['Andrew Robertson',-2,4.8,90,6.8,90],
['Alisson',-1,2.7,90,6.9,90],
['Joe Gomez',-2,4.6,73,0,0],
['James Milner',1,7,17,7.3,73],
['Trent',0,6.2,90,6.1,90],
['Fabinho',0,6.9,90,7.4,90],
['Henderson',0,7.5,73,0,0],
['Salah',0,8.4,90,6.4,90],
['Firmino',0,6.6,26,6.1,33],
['Joel Matip',0,6.2,17,0,0],
['Konate',0,0,0,6.9,0]],
##Real Madrid
[['Vinicious Jr.',1,9.2,90,8.1,84],
['Modric',2,8.2,87,6.9,82],
['Kroos',1,0,0,7.8,84],
['Ruidiger',2,6.9,90,7.7,90],
['Benzema',4,9.2,87,8.3,82],
['Carvajal',2,6.5,90,7.3,86],
['Militao',2,8.2,90,6.9,90],
['Nacho',3,63,7.2,8.0,90],
['Camavinga',1,7.2,90,7.5,90],
['Rodrygo',0,7.9,81,0,8],
['Valverde',0,7.3,90,7.4,90],
['Alaba',0,6.3,27,0,0],
['Courtois',0,4.7,90,8.4,90]],
#Dortmond
[['Bellingham',2,7.1,90,7.6,90],
['Julian Brant',1,7.5,90,0,5],
['Rafael Guerreiro',1,7.8,90,6.4,90],
['Schlottebeck',1,7.7,90,7.1,90],
['Kareen Adeyemi',1,8.2,79,0,0],
['Marco Reus',-1,0,0,6.2,90],
['Gregor Kobel',2,8.7,90,6.8,90],
['G. Reyna',1,0,0,7.6,85],
['Emre Can',3,8.2,90,7.7,90],
['Antony Modeste',-1,6.4,22,0,0],
['Donyell Malen',-1,0,0,6.4,13],
['Jamie Bynoe-Gittens',0,6.0,11,6.0,26],
['Julian Ryerson',0,6.0,17],
['Sule',0,7.2,90,6.4,90],
['Wolf',0,7.3,73,6.5,90],
['Ozcan',0,6.7,90,6.7,64],
['Haller',0,6.4,68,0,0]],
#Chelsea
[['Reece James',1,7.1,90,7.6,90],
['Chillwell',2,7.1,71,7.4,90],
['Enzo',2,7.0,90,7.4,87],
['Koulibaly',3,7.0,90,7.6,90],
['Kovacic',1,0,0,7.3,83],
['Havertz',2,6.9,90,8.6,90],
['Sterling',1,0,0,7.7,83],
['Kepa',1,5.7,90,7.9,90],
['Fofana',1,0,0,7.5,90],
['Cucurella',1,6.3,19,7.5,90],
['Pulisic',-1,0,0,6.0,83],
['Ziyech',0,6.9,90,0,0],
['Felix',0,7.5,90,7.6,67],
['Loftus-Cheek',0,7.2,90,0,7],
['Thiago Silva',0,7.0,90,0,0],
['Mason Mount',0,6.7,19,0,0]],
#Leipzig
[['Andre Silva',-1,6.8,82,5.9,28],
['Szoboszlai',-1,6.8,90,6.1,72],
['Blaswich',1,6.1,90,6.0,90],
['David Raum',-2,0,0,5.1,90],
['Willi Orban',-2,7.1,90,4.7,90],
['Timo Werner',-2,6.3,90,6.2,62],
['Emil Forsberg',-2,6.7,66,5.7,62],
['Kevin Kampl',-2,0,0,4.9,90],
['Benajmin Henrichs',-2,6.3,44,4.0,79],
['Dani Olmo',-1,0,0,6.3,18],
['Lucas Klostermann',-2,6.3,46,6.0,11],
['Conrad Laimer',-2,6.6,90,6.6,90],
['Yusuf Poulsen',-1,0,0,5.8,28],
['Schlager',0,6.0,82,0,0],
['Halstenberg',0,8.0,89,0,0],
['Gvardiol',0,8.1,90,4.5,90]],
#Man city
[['Haaland',1,6.5,90,9.7,63],
['Marhez',4,8.4,90,7.8,35],
['Ruben Dias',1,7.4,90,6.8,90],
['De Bruyne',1,0,0,8.7,90],
['Gundogan',3,7.2,90,7.8,90],
['Rodri',1,6.6,90,7.0,63],
['Akanji',1,6.9,90,7.4,90],
['Bernardo Silva',2,7.2,90,7.0,90],
['Stones',1,0,0,7.0,63],
['Ake',2,7.1,90,8.0,90],
['Ederson',1,6.9,9,7.1,90],
['Kyle Walker',1,7.4,90,0,0],
['Julian Alvarez',0,0,0,6.3,27],
['Phil Foden',0,0,0,6.9,35]],
#PSG
[['Kylian Mbappe',-1,6.2,33,5.6,90],
['Sergio Ramos',2,7.4,90,7.3,90],
['Hakimi',-1,6.3,46,7.0,90],
['Nunu Mendes',1,7.5,90,6.7,81],
['Vitinha',-1,6.3,15,6.9,81],
['Donnarumma',1,6.7,90,6.6,90],
['Danilo Pereira',1,6.8,75,7.4,90],
['Kimpembe',-1,6.0,44,0,0],
['Zaire-Emery',-1,6.0,57,6.7,14],
['Neymar',0,6.6,90,0,0],
['Lionel Messi',0,6.8,90,7.0,90],
['Verratti',0,6.8,90,6.2,90],
['Soler',0,7.0,57,0,0],
['Marquinhos',0,6.8,90,6.5,36],
['Fabian Ruiz',0,6.6,33,6.8,76]],
#Bayern
[['Kimmich',1,8.1,90,8.1,90],
['De Ligt',2,7.4,90,8.3,90],
['Upamecano',4,8.0,90,8.0,90],
['Goretzka',1,7.0,90,7.8,90],
['Choupo-Moting',3,7.1,75,7.5,68],
['Coman',1,8.7,75,7.2,86],
['Musiala',3,7.7,87,8.1,82],
['Stanisic',1,0,0,7.9,90],
['Thomas Muller',0,5.9,15,7.6,86],
['Serge Gnabry',0,6.1,15,0,4],
['Alphonso Davis',3,7.5,44,8.1,90],
['Sommer',0,7.3,0,7.9,90],
['Pavard',0,6.5,90,0,0],
['Sane',0,6.6,90,6.3,22],
['Cancelo',0,6.7,46,0,4]],
#Ac Milan
[['Leao',2,7.8,90,7.2,89],
['Theo',3,7.2,90,8.0,90],
['Giroud',1,7.5,90,6.8,81],
['Kalulu',2,7.2,90,7.0,90],
['Tonali',1,7.2,86,7.1,90],
['Tartarusanu',1,7.8,90,0,0],
['Kjaer',1,6.9,90,0,0],
['Tomori',2,0,0,7.6,90],
['Maignan',2,0,0,7.6,90],
['Brahim',1,7.7,77,6.5,81],
['De Ketelaere',-2,5.8,13,0,0],
['Thiaw',7,7.7,90,7.4,90],
['Origi',-1,0,0,6.0,9],
['Saelemaekers',0,6.5,77,6.4,34],
['Krunic',0,6.8,90,6.9,90],
['Messias',0,6.3,13,6.6,56]],
#Spurs
[['Lenglet',1,6.6,81,7.1,90],
['Richalison',-1,20,6.2,6.1,20],
['Romero',-2,6.7,90,5.7,77],
['Emerson Royal',1,6.6,90,7.2,70],
['Ben Davis',1,6.7,90,7.5,90],
['Kulusevski',-1,70,5.4,6.6,83],
['Oliver Skipp',1,7.0,90,7.2,90],
['F. Foster',1,6.2,90,7.3,90],
['Kane',0,6.3,90,5.9,90],
['Son',0,6.8,81,6.0,90],
['Sarr',0,7.7,90,0,0],
['Perisic',0,7.3,90,6.5,53],
['Dier',0,6.7,90,0,0],
['Hoiberg',0,0,0,7.6,90]],
#Frankfurt
[['Evan Ndicka',-2,6.9,90,6.0,90],
['Kevin Trapp',3,8.1,90,6.9,90],
['Kolo Muani',-2,5.1,58,0,0],
['Lindstrom',-1,6.5,69,0,0],
['Knauff',-2,6.2,21,6.0,62],
['Mario Gotze',-2,6.4,81],
['Jakic',-2,6.0,90,6.0,16],
['Tuta',-2,6.8,90,6.1,90],
['Chrisphoter Lenz',-1,0,0,6.0,67],
['R. Borre',-1,5.9,21,6.5,90],
['F. Alidou',-1,0,0,6.4,28],
['Philipp Max',0,6.3,90,6.2,23],
['Sow',0,6.7,90,6.7,90],
['Kamada',0,6.7,90,6.4,90],
['Buta',0,5.8,69,6.5,90]],
#Napoli
[['Zielinski',3,7.9,90,8.8,74],
['Di Lorenzo',2,8.5,90,8.1,90],
['Min Jae Kim',2,8.7,90,7.0,66],
['Anguissa',1,7.3,80,7.7,90],
['Kvaratskehlia',1,7.9,84,7.4,74],
['Lobotka',2,7.6,90,7.6,90],
['Rrahmani',2,7.7,90,7.1,90],
['Meret',2,7.5,90,7.3,90],
['Mario Rui',1,0,0,7.9,90],
['Ndombele',-1,6.2,10,6.7,16],
['Oshimen',5,8.3,81,9.0,81],
['Lozano',2,8.3,80,6.6,24],
['Politano',1,6.0,6,7.8,66],
['Elmas',-1,0,0,6.1,16],
['Jesus',-1,0,0,6.1,24],
['Olivera',0,7.3,90,0,0]],
#Brugge
[['Yaremchuk',-1,0,0,6.1,62],
['Noah Lang',1,8.2,90,6.2,46],
['Mignolet',-2,6.2,90,4.2,90],
['Clinton Mata',-2,7.0,90,5.6,62],
['Sylla',-2,0,0,5.1,90],
['Camal Sowah',-1,7.1,79,6.7,74],
['Odoi',-2,5.9,65,6.4,28],
['Vanaken',-3,6.3,90,5.8,74],
['Onyedika',-1,6.8,90,44,6.3],
['Casper Nielsen',-1,6.2,25],
['Jutgla',-1,6.2,11,6.5,28],
['Hendry',0,6.3,90,0,0],
['Meijer',0,6.0,90,8.2,90],
['Mechele',0,7.1,90,5.4,90],
['Buchanan',0,6.3,90,7.0,90]],
#Benfica
[['Grimaldo',2,7.8,90,8.1,90],
['Mario',3,8.4,90,8.8,74],
['Rafa',1,6.9,65,8.1,90],
['Otamendi',1,7.5,90,7.1,74],
['Alexander Bah',1,7.8,90,7.3,63],
['Florentino',2,7.6,90,7.7,90],
['David Neres',2,7.0,25,7.3,27],
['Antonio Silva',2,7.1,90,7.3,88],
['Arsunes',2,7.7,90,7.1,90],
['Vlahodimos',1,8.1,90,6.2,90],
['Guedes',0,6.9,25,0,0],
['Chiquinho',0,7.4,90,7.3,63],
['Joao Neves',0,0,0,7.3,16],
['Gilberto',0,0,0,7.3,27]],
#Inter
[['Calhanoglu',4,7.8,90,7.6,90],
['Dumfries',2,6.0,9,7.6,90],
['Onana',4,7.9,90,8.1,90],
['Barella',1,6.5,90,7.1,80],
['Acerbi',1,7.4,90,7.1,90],
['Lukaku',2,7.7,32,6.9,20],
['Gosens',0,6.8,32,0,0],
['Brozovic',0,6.7,18,6.0,10],
['Dimarco',0,6.9,58,6.6,70],
['Bastoni',0,7.5,90,6.6,74],
['Skriniar',0,6.9,81,6.1,10],
['Darmian',0,7.3,90,6.7,80],
['Mkhitaryan',0,6.5,72,7.4,90],
['Dezeko',0,6.2,58,6.7,70],
['Martinez',0,6.6,90,6.9,90]],
#Porto
[['Diogo Costa',3,7.3,90,7.6,90],
['Otavio',-1,5.4,78,0,0],
['Pepe',-1,6.8,90,0,0],
['Zaido Sanusi',1,7.4,90,6.9,85],
['Marcano',1,6.7,90,7.3,90],
['Wendell',-1,6.0,70,0,5],
['Evanilson',0,6.7,39,6.9,70],
['Taremi',0,7.0,83,6.3,90],
['Pepe',0,6.5,90,6.5,90],
['Grujic',3,7.2,9,8.4,90],
['Uribe',0,7.8,90,7.3,85],
['Mario',0,6.8,90,0,0]]]

In [11]:
dfs = []
for ps,t in zip(boost16,teams):
    temp = pd.DataFrame(ps)
    temp['team'] = len(ps)*[t]
    temp.columns=['name','boost','rating_1','min_1','rating_2','min_2','team']
    dfs.append(temp)

In [12]:
boost16 = pd.concat(dfs)

In [46]:
bosst16 = boost16.fillna(0)
sum(boost16.isna().any(axis=1))

0

In [47]:
res16.to_csv('res16.csv', index=False)
res8.to_csv('res8.csv', index=False)
boost16.to_csv('boost16.csv', index=False)

In [36]:
boost8 = [[['Vinicious Jr.',1,8.5,90,7.9,90],
['Modric',0,7.9,81,7.0,90],
['Kroos',1,8.2,84,6.7,74],
['Ruidiger',0,6.4,19,6.5,44],
['Benzema',1,8.4,87,6.8,71],
['Carvajal',2,7.5,90,7.7,81],
['Militao',1,7.1,90,7.3,90],
['Nacho',0,7.2,63,0,9],
['Camavinga',3,7.2,71,7.9,90],
['Rodrygo',1,7.0,71,9.2,81],
['Valverde',2,7.8,90,8.4,90],
['Alaba',2,8.0,27,6.6,46],
['Courtois',3,7.6,90,8.0,90],
['Asensio',1,7.6,19,0,9]],
#chelsea
[['Reece James',0,6.4,90,7.4,90],
['Chillwell',0,7.1,71,0,0],
['Enzo',0,7.4,90,6.8,67],
['Koulibaly',0,6.5,55,0,0],
['Kovacic',0,6.3,90,7.1,90],
['Havertz',0,6.0,35,7.2,77],
['Sterling',-2,6.0,65,6.6,67],
['Kepa',2,6.7,90,6.3,90],
['Fofana',-2,5.9,90,6.1,90],
['Cucurella',-3,6.6,35,6.7,67],
['Felix',0,6.5,65,6.3,24],
['Thiago Silva',0,6.5,75,6.6,90],
['Mason Mount',-1,6.1,15,0,0],
['Mudryk',-1,0,0,6.1,23],
["Conner Gallagher",-1,6.1,15,6.7,67],
['Ngolo Kante',-1,6.4,75,7.0,90]],
 #man city
[['Haaland',1,8.3,90,7.1,84],
['Ruben Dias',2,7.4,90,7.3,90],
['De Bruyne',1,7.1,68,7.6,88],
['Gundogan',0,7.0,90,7.3,90],
['Rodri',1,8.8,90,7.6,90],
['Akanji',1,7.8,90,6.1,90],
['Bernardo Silva',2,8.9,90,6.6,90],
['Stones',1,7.6,90,6.6,63],
['Ake',1,7.3,90,6.1,66],
['Ederson',5,8.2,90,7.9,90],
['Julian Alvarez',0,6.0,22,6.0,6]],
 #bayern
[['Kimmich',0,6.5,90,8.1,90],
['De Ligt',-1,5.8,90,6.4,90],
['Upamecano',-2,5.0,90,5.6,90],
['Goretzka',0,5.9,90,6.7,90],
['Choupo-Moting',0,0,0,6.8,71],
['Coman',0,6.6,90,7.3,90],
['Musiala',1,6.4,69,7.0,71],
['Thomas Muller',0,6.5,10,6.0,19],
['Serge Gnabry',0,6.0,80,0,0],
['Alphonso Davis',0,5.8,80,7.2,27],
['Sommer',6,7.3,90,5.9,90],
['Pavard',-1,6.6,90,6.5,77],
['Sane',1,7.5,90,7.3,63],
['Cancelo',0,6.0,10,7.1,63],
['Sadio Mane',0,6.1,21,6.5,27]],
 #ac milan
[['Leao',2,7.5,90,8.0,84],
['Theo',0,7.4,90,6.9,90],
['Giroud',0,5.9,90,7.4,68],
['Tonali',1,7.9,90,6.4,90],
['Kjaer',2,7.9,90,6.9,90],
['Tomori',1,0,0,6.6,90],
['Maignan',5,8.5,90,8.3,90],
['Brahim',1,7.7,80,6.5,59],
['Origi',0,0,0,6.1,22],
['Saelemaekers',0,6.8,23,6.0,6.0],
['Krunic',1,7.3,90,6.6,90],
['Messias',0,0,0,6.5,31],
['Calabria',6,8.0,90,7.9,90],
['Bennacer',2,7.7,67,6.7,90],
['Rebic',0,6.3,10,0,0]],
 #napoli
[['Zielinski',0,7.1,81,6.4,74],
['Di Lorenzo',0,7.6,90,7.9,90],
['Min Jae Kim',0,7.3,90,0,0],
['Anguissa',-1,5.6,74,0,0],
['Kvaratskehlia',1,6.9,81,7.8,90],
['Lobotka',0,7.2,90,7.2,90],
['Rrahmani',0,6.9,90,6.9,74],
['Meret',2,5.8,90,7.5,90],
['Mario Rui',-2,6.8,81,6.1,34],
['Ndombele',-1,6.0,9,7.1,63],
['Oshimen',2,0,0,7.8,90],
['Lozano',0,6.5,69,6.9,56],
['Politano',0,6.0,9,6.8,34],
['Elmas',0,0,0,6.3,27],
['Jesus',0,0,0,7.0,90],
['Olivera',-1,6.0,9,6.8,54],
['Raspadori',0,5.9,21,7.2,26]],
 #benfica
[['Grimaldo',0,6.5,90,8.2,90],
['Mario',0,7.0,90,7.2,89],
['Rafa',0,6.0,90,7.9,80],
['Otamendi',0,0,0,6.8,90],
['Florentino',0,6.1,64,6.4,90],
['David Neres',0,7.0,25,7.6,44],
['Antonio Silva',0,6.9,90,7.0,90],
['Arsunes',0,6.2,90,7.9,90],
['Vlahodimos',-3,5.9,90,4.8,90],
['Guedes',-1,6.9,25,5.8,16],
['Chiquinho',0,7.3,90,6.0,80],
['Joao Neves',0,0,0,76.4,10],
['Gilberto',-1,7.4,90,6.5,46],
['Musa',1,0,0,7.0,10],
['Morato',0,6.8,90,0,0]],
 #inter
[['Calhanoglu',0,0,0,6.5,76],
['Dumfries',0,7.4,86,6.5,90],
['Onana',0,8.2,90,5.2,90],
['Barella',3,8.2,90,7.9,76],
['Acerbi',1,7.5,90,6.7,90],
['Lukaku',0,7.4,63,5.9,14],
['Gosens',-1,6.8,27,6.0,10],
['Brozovic',2,7.5,90,6.7,90],
['Dimarco',3,7.2,63,8.6,80],
['Bastoni',2,6.2,90,7.0,80],
['Darmian',2,8.1,90,6.3,90],
['Mkhitaryan',2,8.0,90,7.5,90],
['Dezeko',0,6.5,63,7.1,76],
['Martinez',2,7.0,63,8.5,76],
['Joaquin Correa',0,6.3,27,7.2,14]]]

In [37]:
len(boost8)

8

In [38]:
dfs = []
for ps,t in zip(boost8,res16['winner']):
    temp = pd.DataFrame(ps)
    temp['team'] = len(ps)*[t]
    temp.columns=['name','boost','rating_1','min_1','rating_2','min_2','team']
    dfs.append(temp)

In [39]:
res16['winner']

0    Real Madrid
1        Chelsea
2       Man_City
3         Bayern
4       AC Milan
5         Napoli
6        Benfica
7          Inter
Name: winner, dtype: object

In [40]:
boost8 = pd.concat(dfs)

In [41]:
boost8.to_csv('boost8.csv', index=False)

In [25]:
res8['winner']

0    Real Madrid
1       Man_City
2       AC Milan
3          Inter
Name: winner, dtype: object

In [26]:
wins = res8['winner']
res4=[[wins[0],wins[1],1,1,0,4],
     [wins[2],wins[3],0,2,0,1]]
res4 = pd.DataFrame(res4)
res4.columns = ['team1','team2','team1_score1','team2_score1','team1_score2','team2_score2']
res4['team1_tot'] = res4['team1_score1']+res4['team1_score2']
res4['team2_tot'] = res4['team2_score1']+res4['team2_score2']
res4['winner'] = pd.concat([res4[res4['team1_tot'] > res4['team2_tot']]['team1'],res4[res4['team1_tot'] < res4['team2_tot']]['team2']]).sort_index()
res4

,team1,team2,team1_score1,team2_score1,team1_score2,team2_score2,team1_tot,team2_tot,winner
0,Real Madrid,Man_City,1,1,0,4,1,5,Man_City
1,AC Milan,Inter,0,2,0,1,0,3,Inter

In [27]:
boost4 = [[['Vinicious Jr.',0,8.1,90,5.6,90],
['Modric',0,6.8,87,6.4,63],
['Kroos',0,7.4,84,6.8,70],
['Ruidiger',-1,6.3,90,6.3,27],
['Benzema',-1,6.8,90,6.0,90],
['Carvajal',-1,6.5,90,6.0,80],
['Militao',-2,0,0,5.5,90],
['Nacho',0,6.0,3,8.0,90],
['Camavinga',-1,8.2,90,5.3,79],
['Rodrygo',0,6.9,81,6.2,80],
['Valverde',0,6.9,90,6.1,90],
['Alaba',-3,6.1,90,4.5,90],
['Courtois',0,7.6,90,5.3,90],
['Ceballos',-1,0,0,6.1,10],
['Asensio',0,0,0,6.2,20]],
[['Haaland',0,6.8,90,7.4,89],
['Ruben Dias',2,7.3,90,7.2,90],
['De Bruyne',3,7.5,90,8.5,84],
['Gundogan',2,7.4,90,7.8,79],
['Rodri',2,7.4,90,8.4,90],
['Akanji',2,6.9,90,8.0,90],
['Bernardo Silva',2,6.9,90,9.0,90],
['Stones',0,6.5,90,7.0,90],
['Ederson',3,7.4,90,8.5,90],
['Julian Alvarez',0,0,0,6.0,1],
['Phil Foden',1,0,0,6.0,6],
['Kyle Walker',3,7.6,90,7.8,90]],
[['Leao',0,0,0,8.0,84],
['Theo',0,6.5,90,6.9,90],
['Giroud',0,5.9,90,7.4,68],
['Tonali',0,6.7,90,6.4,90],
['Kjaer',-1,6.0,59,6.9,90],
['Tomori',-1,6.2,90,6.6,90],
['Maignan',1,6.0,90,8.3,90],
['Brahim',-1,6.7,82,6.5,59],
['Origi',0,6.4,31,6.1,22],
['Saelemaekers',1,7.0,59,6.0,6.0],
['Krunic',0,5.9,90,6.6,90],
['Messias',-1,6.3,72,6.5,31],
['Calabria',1,6.3,82,7.9,90],
['Bennacer',0,5.9,18,6.7,90],
['Thiaw',0,6.8,31,7.4,90]],
[['Calhanoglu',2,8.0,78,8.2,90],
['Dumfries',0,6.8,90,7.0,90],
['Onana',0,7.0,90,6.9,90],
['Barella',0,7.4,90,6.6,84],
['Acerbi',1,7.3,90,7.3,90],
['Lukaku',2,6.7,20,7.9,24],
['Gosens',0,0,0,6.7,24],
['Brozovic',0,6.5,28,6.5,46],
['Dimarco',1,7.6,70,7.1,66],
['Bastoni',1,7.4,90,7.2,90],
['Darmian',1,6.8,90,7.2,90],
['Mkhitaryan',1,8.2,62,6.8,44],
['Dezeko',1,8.1,70,6.7,66],
['Martinez',3,7.9,78,8.2,84],
['Joaquin Correa',0,6.2,12,6.0,6]]]

In [28]:
dfs = []
for ps,t in zip(boost4,res8['winner']):
    temp = pd.DataFrame(ps)
    temp['team'] = len(ps)*[t]
    temp.columns=['name','boost','rating_1','min_1','rating_2','min_2','team']
    dfs.append(temp)

In [29]:
boost4 = pd.concat(dfs)

In [30]:
res4.to_csv('res4.csv', index=False)
boost4.to_csv('boost4.csv', index=False)

In [31]:
nameconv = pd.DataFrame(pd.concat([boost4,boost8,boost16])['name'].unique())
nameconv.columns=['name']

In [32]:
nameconv.to_csv('nameconv.csv', index=False)

In [43]:
boost16=boost16.fillna(0)

In [44]:
sum(boost16.isna().any(axis=1))

0

In [45]:
boost4[boost4.isna().any(axis=1)]

Empty DataFrame
Columns: [name, boost, rating_1, min_1, rating_2, min_2, team]
Index: []